body {
    background-color: black;
}

.parent {
    display: flex;
    justify-content: space-evenly;
}

#header {
    margin : 5px;
    border-style: solid;
    border-width: 2px;
    padding : 5px;
    font-family: monospace;
    color : rgb(26, 240, 26);
    text-align : center;
} 

#footer {
    
    margin : 5px;
    border-style: solid;
    border-width: 2px;
    padding : 5px;
    font-family: monospace;
    color : rgb(26, 240, 26);
    text-align : center;

} 

#container {
    /*width: 1000px; */
    /*! float: center; */
    width: 100%;
    height: 100%;
    margin: 20px auto auto auto;
    padding : 5px;
    margin-bottom: 20px;
  
    
}

#calculator {
    width: 37%;
    height: 520px;
    margin : auto;
    border-style: solid;
    border-width: 2px;
    padding : 5px;
    color : rgb(26, 240, 26);
}

#result {
    width: 97%;
    height: 25%;
    margin : 4px auto auto auto;
    border-style: solid;
    border-width: 2px;
    padding : 5px;
    margin-top: 0.8%;
    padding-left: 1%;
    padding-right: 1%;
    color : rgb(26, 240, 26);
}

#history {
    margin-top: 4%;
    height: 40%;
    width: 100%;
    text-align: right;
    font-size: large;
    font-family: monospace;
}

#output {
    
    height: 60%;
    width: 100%;
    font-size: xx-large;
    text-align: right;
    font-family: monospace;
}

#keyboard {
    width: 98%;
    height: 68%;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border-style: solid;
    border-width: 2px;
    padding-top: 5px;
    padding-right: 0.5%;
    padding-left: 0.5%;
    padding-bottom: 5px;
    color : rgb(26, 240, 26);
    font-family: monospace;
}

.operators, .numbers , .empty {
    width: 25%;
    height: 20%;
    float: left;
    font-family: monospace;
    border-width: 0.5;
    font-weight: bold;
    
}

.operators {
    color: red;
    background-color: black;
    font-size: large;
    font-weight: bold;
}

.numbers, .empty {
    color : rgb(26, 240, 26);
    background-color: black;
    font-size: large;
    font-weight: bold;
}

.operators, .numbers {
    cursor: pointer;
}

.operators:active, .numbers:active {
    font-size: medium;
}

.operators:focus, .numbers:focus, .empty:focus {
    outline: 0;
}

.operators:hover {
    color : rgb(26, 240, 26);
    font-size: medium;
}

.numbers:hover {
    color: red;
    font-size: medium;
}

.fa-twitter-square, .fa-github-square {
    color : rgb(26, 240, 26);
}

.fa-twitter-square:hover , .fa-github-square:hover {
    font-size: large;
    opacity: 0.5;
}


/* Element | file:///C:/Users/Shrivatsa/Desktop/Calculator/index.html 

#keyboard {
    padding-right: 0.5%;
    padding-left: 0.5%;
  }
  
  
  
  #container {
    margin-bottom: 20px;
  }
  
  
  #container {
    margin-bottom: 20px;
  }
  
  #result {
    
    height: 25%;
  }
  
  
  #result {
    margin-top: 0.8%;
    padding-left: 1%;
    padding-right: 1%;
  }
  */